{% extends 'rango/base.html' %}

{% block title_block %}Add a Category{% endblock %}

{% block content %}
    <h1>Add a New Category</h1>
    
    <form method="post" action="{% url 'rango:add_category' %}">
        {% csrf_token %}
        
        {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <small>{{ field.help_text }}</small>
                {% if field.errors %}
                    <div class="error">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <input type="submit" name="submit" value="Add Category" />
    </form>
{% endblock %}
